{% extends "base.html" %}

{% block content %}
	<br/>
	<h1>Welcome {{ current_user.username}}</h1>
	<div class="container">
		<div class="card">
			<br/>
			{% for photo in photos%}
				<div class="row">
					<div class="col-4 mx-auto">
						<img class="carimg-thumbnail" src="{{ photo.name }}" style="width: 415px;height: 400px;">
						<hr/>
						{% for comment in photo.comments %}
							<div class="row" style="height: 50px; background-color: rgb(233, 235, 238)">
								<div class="col-11">	
									{{comment.author.username}} : <b>{{ comment.text }}</b>
								</div>
								<div class="col-1">	
									{% if comment.author == current_user %}
									<form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="post">
										<button class="btn btn-danger" style="height: 50px; width: 50px;" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
											<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
											<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
									  	</svg></button>
									</form>
									{% endif %}
								</div>
							</div>
						{% endfor %}
						<br/>
						<form action="" method="post">
							{{ form.hidden_tag() }}
							<p>
								{{ form.comment(cols=32, rows=1, placeholder="add a comment...") }}<br/>
								{% for error in form.comment.errors %}
								<span style="color: red;">{{ error }}</span>
								{% endfor %}
							</p>
							<p>{{ form.submit(class="btn btn-secondary") }}</p>
							<input type="hidden" name="photo_id" value="{{ photo.id }}"/>
						</form>
						<hr/>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
