{% extends "base.html" %}

{% block content %}
	<div class="container" id="tqt">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1 class="text-center">Sign In</h1>
				<form action="" method="post" novalidate>
					{{ form.hidden_tag() }}
					<div class="form-group">
						<label for="{{ form.username.id }}">{{ form.username.label }}</label>
						{{ form.username(size=32, class="form-control") }}
						{% for error in form.username.errors %}
							<span class="text-danger">{{ error }}</span>
						{% endfor %}
					</div>
					<div class="form-group">
						<label for="{{ form.password.id }}">{{ form.password.label }}</label>
						{{ form.password(size=32, class="form-control") }}
						{% for error in form.password.errors %}
							<span class="text-danger">{{ error }}</span>
						{% endfor %}
					</div>
					<div class="form-group">
						<div class="form-check">
							{{ form.remember_me(class="form-check-input") }}
							<label class="form-check-label" for="{{ form.remember_me.id }}">
								{{ form.remember_me.label }}
							</label>
						</div>
					</div>
					<div class="form-group text-center">
						{{ form.submit(class="btn btn-primary") }}
					</div>
				</form>
				<p class="text-center">No account ? <a href="{{ url_for('register') }}">Create a new one here !</a></p>
			</div>
		</div>
	</div>
{% endblock %}